 <div id="main">
    <div class="page_margins">
      <div class="page"> 
        <h1>New consumer</h1>
        
        <%= render 'form' %>
        
        <div class="btn btn_back"><%= link_to 'Back', consumers_path %><span></span></div>
        
        <br />
        <br />
        <br />
      </div>
    </div>
 </div>
